extends layout

block content
 h1 About me


 p Maria Luque Anguita
 p I am a second year Computer Science student in Edinburgh Napier University.
 p I come from Cordoba, south of Spain and I am 20 years old.
 p I'm also very pretty and aim to be famous and rich by the age of 22, with this face that's easy stuff :).
 img.maria(src="/images/maria.jpg")
 p This is me
 img.maria(src="/images/maria2.jpg")
 p This is also me
 img.maria(src="/images/maria3.jpg")
 p Those are my photos
 br
 br
