extends layout

block content
 h1 About me


 img.collab(src='/images/spain.png')
 br
 img.collab(src='/images/enu.png')
 br
 p I'm also very pretty and aim to be famous and rich by the age of 22, with this face that's easy stuff :).
 img.maria(src="/images/maria.jpg")
 p This is me
 img.maria(src="/images/maria2.jpg")
 p This is also me
 img.maria(src="/images/maria3.jpg")
 p Those are my photos
 br
 br
