extends layout

block content

	h1=title
	
	ul.errors
		if errors
			each error, i in errors
				li.alert #{error.msg}
	form(method='post', action='/posts/add', enctype="multipart/form-data")

		.addpostbox
			label.addpost Cool name for post:
			input.addpost-input(name='title', type='text')

			label.addpost Fun category:
			select(name='category')
				each category, i in categories
					option(value='#{category.name}') #{category.name}


		.addpostbox
			label.addpost Stuff about post:
			textarea(name='body', id='body')


		.addpostbox
			label.addpost Post image:
			input(name='mainimage', type='file')

			label.addpost Sign it with a cool name:
			select(name='author')
				option(value='Maria Luque') Maria Luque
				option(value='Other') Other

		input.save(name='submit',type='submit',value='Save')


		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('body');
