doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Aclonica", rel="stylesheet")

  body
   img.logo(src='/images/blog_header.png')

   img.arrow_left(src='/images/rastro.PNG')
   img.arrow_right(src='/images/avion.PNG')

   .content
    nav
     ul
      li
       a(href='/') Blog
      li
       a(href='/aboutme') About me
      li
       a(href='/gallery') Work with me
      if user
       li
        a(href='/posts/add') Add Post
       li
        a(href='/add') Add Category
      if !user
       li
        a(href='/users/register') Register
       li
        a(href='/users/login') Login
      if user
       li
        a(href='/users/logout') Log out
    != messages()
    block content
    footer
     p.napierno 40280156 - Web Technologies ENU

  .leftnav
   img.sidephoto(src='/images/aboutme.png')
   .contactme Follow me
    br
    a(href="https://www.facebook.com/marialuqueanguita", target="_blank")
     img.followimg(src="/images/facebook.png")
    a(href="https://www.instagram.com/marialuquea/", target="_blank")
     img.followimg(src="/images/insta.png")
    a(href="https://www.linkedin.com/in/marialuqueanguita", target="_blank")
     img.followimg(src="/images/linkedin2.png")

  .rightnav
   .contactme#joinme Join the team
   input.email(name='email', type='email', placeholder='Enter email')
   br
   input.submit(type='submit', name='subscribe', value='Subscribe')
   .total 1,783,201 monthly subscribers
