extends layout

block content
 h1 Register

 if errors
  each error, i in errors
   div.alert #{error.msg}

 form(method='post', action='/users/register', enctype='multipart/form-data')
  .addpostbox
   label.addpost Name
   input.addpost-input(name='name', type='text', placeholder='Enter name')
   br
   label.addpost Email
   input.addpost-input(name='email', type='email', placeholder='Enter email')

  .addpostbox
   label.addpost Username
   input.addpost-input(name='username', type='text', placeholder='Enter username')
   br
   label.addpost Password
   input.addpost-input(name='password', type='password', placeholder='Enter password')
   br
   label.addpost Confirm password
   input.addpost-input(name='password2', type='password', placeholder='Confirm password')

  .addpostbox
   label.addpost Profile image
   input.addpost-input(name='profileimage', type='file')

  input.save(type='submit', name='submit', value='Register')
  br
  br
  hr
