body {
  font: 15px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color:#666;
}

.logo{
	text-align: center;
	margin:auto;
	display:block;
  width: 1000px;
}

.leftnav {
  height: 40%;
  width: 300px;
  position: fixed;
  top: 25%;
  background-color: transparent;
  border: 3px solid #CC7E96;
  border-radius: 14px;
  left: 60px;
}

.rightnav {
  height: 40%;
  width: 300px;
  position: fixed;
  top: 25%;
  background-color: transparent;
  border: 3px solid #CC7E96;
  border-radius: 14px;
  right: 60px;
}

.rightnav input {
  font-family: 'Aclonica';
  padding: 5px 20px;
  margin: 10px 20px;
}

.rightnav .email{
  margin-left: 45px;
  margin-top: 50px;
}

.rightnav .submit{
  margin-left: 90px;
}

.sidephoto {
  height: 150px;
  margin-top: 10px;
  margin-left: 75px;
}

.contactme {
  text-align: center;
  font-family: 'Aclonica';
  font-size: 40px;
}

#joinme {
  padding-top: 80px;
}

.total {
  color: #CC7E96;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 16px;
}

.followimg {
  width: 80px;
  text-align: center;
  padding-left: 13px;
}

.work{
    left: 50%;
}

.collab{
  text-align: center;
  font-family: 'Aclonica';
  font-size: 25px;
  padding: 50px 0;
}

.container{
	width:950px;
	border: 3px solid #CC7E96;
	margin: 20px auto;
	padding:20px;
  border-radius: 14px;
}

.clr{
	clear: both;
}

ul{
	padding:0;
	margin:0;
}

h1,h2,h3,p{
	padding:15px 0;
	margin-bottom:0;
  text-decoration: none;
}

h1{
  font-size: 54px;
  font-family: 'Aclonica';
}
h2{
  font-size: 40px;
  text-decoration: none;
}
h3{
  font-size: 20px;
}

p{
	margin:0;
}

.post img{
	width:100%;
}

nav{
  background: #CC7E96;
	color:#fff;
	overflow:auto;
	height:40px;
	padding:20px 0 0 10px;
	font-size: 18px;
  border-radius: 13px;
}

nav li{
	float:left;
	list-style:none;
}

nav a{
	padding:10px;
	margin:0 10px;
	color:#fff;
	text-decoration:none;
}

nav a.current, nav a:hover{
	background: #E7EBD6;
	color: #CC7E96;
  border-radius: 8px;
}

.navbar-right {
  float: right;
  padding-top: 15px;
  list-style: none;
  color: white;
  font-size: 100px;
}

.meta{
	padding:7px;
	background: #E7EBD6;
	margin-bottom:10px;
  border-radius: 13px;
}

a.more{
	display:block;
	width:80px;
	background:#CC7E96;
	color:#fff;
	padding:10px;
	margin-top:30px;
	text-decoration: none;
  border-radius: 13px;
}

.post{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
}

.post h1 a{
	color:#666;
	text-decoration: none;
}

input, select, textarea{
	margin-bottom:15px;
  border-radius: 5px;
}

textarea{
  resize: none;
}

label{
	display:inline-block;
	width:180px;
}

input[type='text'], select, textarea{
	padding:3px;
	height:20px;
	width:200px;
	border:1px #ccc solid;
}

select{
	height:28px;
}

textarea{
	height:70px;
	width:400px;
}

.alert, ul.error, ul.success li{
  color: white;
  background-color: #CC7E96;
  padding: 10px;
  border-radius: 4px;
  margin: 15px 400px 15px 30px;
}

.maria {
  width: 50%;
}
